  {%  style  %} 
.cod-btn button{
    background-color: {{ block.settings.btn_bg }};
    padding:{{ block.settings.btn_height }}px {{ block.settings.btn_width }}px;
    border:{{ block.settings.btn_border }}px solid {{ block.settings.btn_border_color }};
    border-radius:{{ block.settings.btn_radius }}px;
    font-size:{{ block.settings.btn_text_size }}px;
    {% if block.settings.btn_text_bold == true %}
        font-weight:600;
        {% endif %}
        cursor:pointer;
}
.cod-btn button .btn_text_content{
  color:{{ block.settings.btn_text_color }};
  text-decoration: none;
}
{% if block.settings.btn_text_subtitle != blank %}
.cod-btn button p{
    margin:0;
    margin-top: {{ block.settings.btn_text_subtitle_space }}px;
    font-size: {{ block.settings.btn_text_subtitle_size }}px;
    color:{{ block.settings.btn_text_color }};
}

{% endif %}

 {% endstyle %} 
 {%  assign icon_options  = block.settings.btn_icons %}
<div class="cod-btn-main">
    <div class="cod-btn">
<button class="btn_product_id" data-product-id="{{ product.id }}"> 
        <div class="btn_text_content">  
        {{ block.settings.btn_text }} 
        {% if block.settings.btn_text_subtitle != blank %}
          <p> {{ block.settings.btn_text_subtitle }} </p>
          {% endif %}
        </div>
            {% if block.settings.btn_icons != blank %}
            <div> {%  render 'btn-svg', option: icon_options %}  </div>
            {% endif %}
        </button>
    </div>
</div>
<button id="fetchDataBtn">Fetch Product Count</button>
    <div id="output"></div>
<div class="form-modal">
  {% render 'cod-form' %}
</div>
<script src="../assets/cod_create_order.js"></script>
{% schema %}
{
    "name": "COD Button",
    "target":"section",
    "javascript":"cod-form.js",
    "stylesheet":"cod-main.css",
    "settings": [
        {
            "type": "text",
            "id":"btn_text",
            "label": "Button Text",
            "default": "Buy With Cash on Delievery"
        },
        {
  "type": "select",
  "id": "btn_icons",
  "label": "Button Icon",
  "options": [
    {
      "value": "cart",
      "label": "Cart"
    },
    {
      "value": "s",
      "label": "Small"
    },
    {
      "value": "m",
      "label": "Medium"
    },
    {
      "value": "l",
      "label": "Large"
    },
    {
      "value": "xl",
      "label": "X-large"
    },
    {
      "value": "xxl",
      "label": "XX-large"
    }
  ],
  "default": "m"
},

        {
            "type": "text",
            "id":"btn_text_subtitle",
            "label": "Button SubTitle"
        },
        {
  "type": "range",
  "id": "btn_text_subtitle_size",
  "min": 10,
  "max": 30,
  "step": 1,
  "unit": "px",
  "label": "Subtitle Text Size",
  "default": 12
},
        {
  "type": "range",
  "id": "btn_text_subtitle_space",
  "min": 0,
  "max": 20,
  "step": 1,
  "unit": "px",
  "label": "Space Between Button Text and Subtitle",
  "default": 0
},
        {
            "type":"color",
            "id":"btn_bg",
            "label":"Background Color",
            "default":"#000"
        },
        {
            "type":"color",
            "id":"btn_text_color",
            "label":"Button Text Color",
            "default":"#fff"
        },

        {
  "type": "range",
  "id": "btn_text_size",
  "min": 15,
  "max": 30,
  "step": 1,
  "unit": "px",
  "label": "Button Text Size",
  "default": 17
},
{
  "type": "checkbox",
  "id": "btn_text_bold",
  "label": "Button Text Bold",
  "default": false
},

        {
  "type": "range",
  "id": "btn_height",
  "min": 5,
  "max": 15,
  "step": 1,
  "unit": "px",
  "label": "Button Height",
  "default": 5
},
{
  "type": "range",
  "id": "btn_width",
  "min": 15,
  "max": 40,
  "step": 1,
  "unit": "px",
  "label": "Button Height",
  "default": 15
},
{
  "type": "range",
  "id": "btn_border",
  "min": 0,
  "max": 5,
  "step": 1,
  "unit": "px",
  "label": "Button Border",
  "default": 0
},
{
    "type":"color",
    "id":"btn_border_color",
    "label":"Border Color"
},
{
  "type": "range",
  "id": "btn_radius",
  "min": 0,
  "max": 10,
  "step": 1,
  "unit": "px",
  "label": "Button Radius",
  "default": 0
}

        ]
}
{% endschema %}